html{
background-color: #bbe4e9;
}
form {
    background-color: #ffffff;
    color: #333;
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 25px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}
input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #cbf078;
    color: #ffffff;
}
input[type="submit"]:hover {
    background-color: #acdcee;
}
label {
    margin-bottom: 4px;
    display: block;
}
